*.csv
*.lnk
*.pyc
*.sql
*.sqlite3
*.xlsx
.cache
.DS_Store
.coverage
.coverage.*
.env*
*.swp
.pytest_cache
.vscode
__pycache__
familyfiles
htmlcov/*
node_modules
static/*
staticfiles/*
venv/*
frontend/coverage/*
.playwright-mcp/
