coverage
django
django-debug-toolbar
django-environ
django-extensions
django-crispy-forms
djangorestframework
crispy-bulma
gunicorn
ipython
markdown
pip
psycopg2
requests
sentry-sdk
sentry-sdk[django]
unidecode
wheel
whitenoise
django-cors-headers