.navbar {
    border: None;
    background-color: transparent;
}

.table {
    background-color: transparent;
}

.game-name {
    display: inline-block;
}

.game-row {
    border-bottom: 1px solid #4a4a4a;
}

.game-header {
    border-bottom: 1px solid #4a4a4a;
    color: #fff;
}

header,
footer {
    background-color: #131313;
}

header {
    border-bottom: 1px solid #4a4a4a;
}

footer {
    border-top: 1px solid #4a4a4a;
}