
footer {
    min-height: 15em;
    background-color: #444;
    margin-top: 2em;
    padding-top: 2em;
}

dl.detail dt {
    font-weight: bold;
    float: left;
    width: 10em;
}

header {
    border-bottom: 2px solid;
    margin-bottom: 1em;
}

#content {
    min-height: 1024px;
}

header,
.container,
footer {
    padding: 0 1em;
}

.messages {
    position: fixed;
    top: 20px;
    left: 43%;
    right: 43%;
    z-index: 100;
}