footer {
    min-height: 15em;
    background-color: #444;
    margin-top: 2em;
    padding-top: 2em;
}

dl.detail dt {
    font-weight: bold;
    float: left;
    width: 10em;
}

header {
    border-bottom: 2px solid;
    margin-bottom: 1em;
}

#content {
    min-height: 1024px;
}

header,
.container,
footer {
    padding: 0 1em;
}

.messages {
    position: fixed;
    top: 20px;
    left: 43%;
    right: 43%;
    z-index: 100;
}

.game-row {
    border-bottom: 1px solid #dbdbdb;
}

.game-header {
    border-bottom: 1px solid #dbdbdb;
    color: #363636;
}

.game-row .thumbnail img {
    max-width: inherit;
}

/* Dark theme changes */
.navbar {
    border: None;
    background-color: transparent;
}

.table {
    background-color: transparent;
}

.game-name {
    display: inline-block;
}

.game-row {
    border-bottom: 1px solid #4a4a4a;
}

.game-header {
    border-bottom: 1px solid #4a4a4a;
    color: #fff;
}

header,
footer {
    background-color: #131313;
}

header {
    border-bottom: 1px solid #4a4a4a;
}

footer {
    border-top: 1px solid #4a4a4a;
}

.game-row .rank {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-row .rank .large {
    font-family: Handjet, sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-shadow: -3px 3px 0px #5d5b5b;
    color: #fff;
}

.game-row .rank .medium {
    font-family: Handjet, sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-shadow: -3px 3px 0px #5d5b5b;
    color: #fff;
}