{% extends 'base.html' %}
{% load beta_filters %}
{% load humanize %}

{% block title %}Game Search - Acclaimed Games{% endblock %}

{% block content %}
<div id="content">
    <h1 class="title">
        {% if page_obj %}
            Showing {{ page_obj.start_index|intcomma }} to {{ page_obj.end_index|intcomma }} of {{ page_obj.paginator.count|intcomma }} Results
        {% else %}
            Advanced Search
        {% endif %}
    </h1>

    <div class="buttons is-pulled-right">
        <a href="{% url 'beta:games-search' %}" class="is-hidden-mobile button">
            <span class="icon">
                <span class="mdi mdi-close"></span>
            </span>
            <span>Clear filters</span>
        </a>
        <a href="{% url 'beta:games-search' %}" class="is-hidden-tablet button">
            <span class="icon">
                <span class="mdi mdi-close"></span>
            </span>
        </a>
        <a href="{% url 'beta:games-list' %}" class="button is-link is-pulled-right">
            <span class="icon">
                <span class="mdi mdi-form-select"></span>
            </span>
            <span>Basic Search</span>
        </a>
    </div>

    {% include 'includes/_advanced_filters.html' with filters=filters genres=genres platforms=platforms min_year=min_year max_year=max_year %}

    {% if games %}
    <div>
        {% if page_obj %}
        <div class="pagination-wrapper pagination-spacing-top">
            {# Desktop pagination - show all pages #}
            <div class="is-hidden-mobile">
                {% include 'includes/_pagination.html' with page_obj=page_obj show_all_pages=True target_id='content' %}
            </div>
            {# Mobile pagination - use smart filtering #}
            <div class="is-hidden-tablet">
                {% include 'includes/_pagination.html' with page_obj=page_obj show_all_pages=False target_id='content' %}
            </div>
        </div>
        {% endif %}

        {% for game in games %}
            {% with index=page_obj.start_index|add:forloop.counter0 %}
                {% include 'games/includes/_game_row.html' with game=game index=index show_rank=filters.rank_display %}
            {% endwith %}
        {% endfor %}

        {% if page_obj %}
        <div class="pagination-wrapper pagination-spacing-top">
            {# Desktop pagination - show all pages #}
            <div class="is-hidden-mobile">
                {% include 'includes/_pagination.html' with page_obj=page_obj show_all_pages=True target_id='content' %}
            </div>
            {# Mobile pagination - use smart filtering #}
            <div class="is-hidden-tablet">
                {% include 'includes/_pagination.html' with page_obj=page_obj show_all_pages=False target_id='content' %}
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}

