{% extends 'base.html' %}
{% load static %}
{% load beta_filters %}

{% block title %}Acclaimed Games{% endblock %}

{% block content %}
<div class="columns">
    <div class="column">
        <img src="{% static 'avg_logo.png' %}" alt="Acclaimed Games">
        <div class="is-size-4 snippet-text">
            {% include 'includes/_snippet.html' with snippet=snippet %}
        </div>
        <h3 class="title is-size-4 mt-5">Current Top {{ games|length }}</h3>
        <div class="top-ten is-clearfix">
            {% for game in games %}
            <div class="game">
                <a href="{% url 'beta:game-detail' slug=game.slug %}">
                    <span class="rank">{{ game.rank }}</span>
                    <img src="{{ game.thumbnail }}" alt="{{ game.name }}">
                </a>
            </div>
            {% endfor %}
            <div class="link">
                <a href="{% url 'beta:games-list' %}" class="button">
                    See the full list&hellip;
                </a>
            </div>
        </div>
        {% if last_update %}
        <div class="py-3 last-update">
            List last updated: {{ last_update|from_now }}
        </div>
        {% endif %}
    </div>
    <div class="column">
        <h3 class="title is-size-4">Latest News</h3>
        {% for post in posts %}
            {% include 'posts/includes/_post_item.html' with post=post %}
        {% endfor %}
        <div class="is-clearfix">
            <a href="{% url 'beta:post-list' %}?offset=5" class="button is-link is-pulled-right">
                <span>Older posts</span>
                <span class="icon">
                    <span class="mdi mdi-chevron-double-right"></span>
                </span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

