<div class="columns is-mobile game-row {% if highlight == game.id %}{% endif %}" id="game-{{ game.id }}">
    <div class="column is-narrow">
        <div class="columns">
            {% if not no_rank_column %}
                <div class="column is-narrow rank">
                    <span class="is-hidden-mobile large">
                        {% if show_year_rank %}
                            {{ game.year_rank }}
                        {% elif show_decade_rank %}
                            {{ game.decade_rank }}
                        {% else %}
                            {{ game.rank }}
                        {% endif %}
                    </span>
                    <span class="is-hidden-tablet medium">
                        {% if show_year_rank %}
                            {{ game.year_rank }}
                        {% elif show_decade_rank %}
                            {{ game.decade_rank }}
                        {% else %}
                            {{ game.rank }}
                        {% endif %}
                    </span>
                </div>
            {% endif %}
            <div class="column is-narrow">
                {% if game.thumbnail %}
                    <a href="{% url 'game-detail' game.slug %}"><img src="{{ game.thumbnail }}" /></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="column">
        <a href="{% url 'game-detail' game.slug %}" class="game-name has-text-weight-bold is-size-6 mb-3">
            {{ game.name }}
            ({{ game.year_of_release }})
        </a>
        <div>
            {% if show_year_rank or show_decade_rank or no_rank_column %}
                <div class="py-0">
                    <label class="has-text-weight-medium is-size-6">All time rank:</label>
                    <strong>{{ game.rank }}<strong>
                </div>
            {% endif %}
            <div class="py-0">
                {% with game.developers.all as developers %}
                    <label class="has-text-weight-medium is-size-6">
                        Developer{{ developers.count|pluralize }}:
                    </label>
                    {% for developer in developers %}
                        <a href="{% url 'developer-alias-redirect' developer.igdb_id %}" class="is-size-6">
                            {{ developer.name }}
                        </a>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="py-0">
                <label class="has-text-weight-medium is-size-6">
                    Platform{{ game.platforms.all|pluralize }}:
                </label>
                {% for platform in game.platforms.all %}
                    <a href="{% url 'games-search' %}?platforms={{ platform.pk }}" title="{{ platform.name }}" class="is-size-6">
                        {{ platform.code }}
                    </a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
            <div class="py-0">
                <label class="has-text-weight-medium is-size-6">Genre{{ game.genres.all|pluralize }}:</label>
                {% for genre in game.genres.all %}
                    <a href="{% url 'games-search' %}?genres={{ genre.pk }}" title="{{ genre.name }}" class="is-size-6">
                        {{ genre.name }}
                    </a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
