<nav class="pagination is-centered">
    <ul class="pagination-list">
        {% for page in pages %}
            {% if page.href %}
                <li>
                    <a class="{{ page.class }}"  
                        href="{{ page.href }}">
                        {{ page.text }} 
                    </a>
                </li>
            {% else %}
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>