{% load static %}
<html>

<head>
    <title>
        {% block title %}{% endblock %}&nbsp;Acclaimed Video Games
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'games/avg_logo_small.png' %}">
    <meta name="google-site-verification" content="m0z_oojwArrunlu0Whq84UzS2fzEfjiKdA_khBEcItk" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/cyborg/bulmaswatch.min.css">
    <link rel="stylesheet" href="{% static 'games/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@800&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0591405Q89"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-0591405Q89');
    </script>
    <script>
        setTimeout(() => {
            document.querySelectorAll('.messages').forEach(x => x.remove());
        }, 5000);
    </script>
    {% block extrahead %}
    {% endblock %}
</head>

<body>
    <header>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}"">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="container p-0">
            <nav class="navbar mx-1" role="navigation" aria-label="main navigation">
                <div class="navbar-brand is-hidden-tablet">
                    <a class="navbar-item has-text-weight-bold pl-0" href="{% url 'index' %}">
                        <img src="{% static 'games/avg_logo_small.png' %}">
                    </a>
                    <a class="navbar-item pl-0" href="{% url 'games-list' %}">
                        Top 750 
                    </a>
                    <a class="navbar-item pl-0" href="{% url 'developer-list' %}">
                        Developers
                    </a>
                    <a class="navbar-item pl-0" href="{% url 'list-list' %}">
                         Lists
                    </a>
                    <a class="navbar-item pl-0" href="/about/">
                        About
                    </a> 
                    <a class="navbar-item pl-0" href="/palestine/">
                        <img src="{% static 'games/palestine-flag-xs.png' %}" 
                            style="height: 12px" 
                            title="Statement on Palestine">
                    </a>
                </div>
                <div class="navbar-brand is-hidden-mobile">
                    <a class="navbar-item has-text-weight-bold" href="{% url 'index' %}">
                        <img src="{% static 'games/avg_logo_small.png' %}">
                    </a>
                    <a class="navbar-item" href="{% url 'games-list' %}">
                        Top 750 Games
                    </a>
                    <a class="navbar-item" href="{% url 'developer-list' %}">
                        Developers
                    </a>
                    <a class="navbar-item" href="{% url 'list-list' %}">
                        Source Lists
                    </a>
                    <a class="navbar-item" href="/about/">
                        About / FAQ
                    </a>
                    <a class="navbar-item" href="/palestine/">
                        <img src="{% static 'games/palestine-flag-xs.png' %}" 
                            style="height: 15px" 
                            title="Statement on Palestine">
                    </a>
                </div>
            </nav>
        </div>
    </header>
    <section class="container">
        <div id="content" class="mx-3">
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <footer>
        <div class="container">
            <a href="{% url 'index' %}">
                Home
            </a>
            •
            <a href="{% url 'post-list' %}">
                News
            </a>
            •
            <a href="/about/">
                About / FAQ
            </a>
        </div>
    </footer>
    {% block extrajs %}
    {% endblock %}
</body>
</html>