{% load static %}
<html>

<head>
    <title>
        Acclaimed Video Games{% block title %}{% endblock %}
    </title>
    <meta name="google-site-verification" content="m0z_oojwArrunlu0Whq84UzS2fzEfjiKdA_khBEcItk" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'games/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0591405Q89"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-0591405Q89');
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    const target = document.getElementById(el.dataset.target);
                    el.classList.toggle('is-active');
                    target.classList.toggle('is-active');
                });
            });
        });
        
        setTimeout(() => {
            document.querySelectorAll('.messages').forEach(x => x.remove());
        }, 5000);

    </script>
    {% block extrahead %}
    {% endblock %}
</head>

<body>
    <header>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}"">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{% url 'index' %}">
                        Home
                    </a>
                    <a role="button" 
                        class="navbar-burger" 
                        aria-label="menu" 
                        aria-expanded="false"
                        data-target="navbar">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbar" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{% url 'games-list' %}">
                            Top 500 Games
                        </a>
                        <a class="navbar-item" href="{% url 'developer-list' %}">
                            Developers
                        </a>
                        <a class="navbar-item" href="{% url 'publication-list' %}">
                            Source Lists
                        </a>
                        <a class="navbar-item" href="/about/">
                            About / FAQ
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section class="container">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <footer>
        <div class="container">
        </div>
    </footer>
</body>

</html>