{% extends 'games/base.html' %}

{% block title %}{{ developer }} |{% endblock %}

{% block content %}
    <h1 class="title">{{ developer }}</h1>
    {% if developer.other_aliases.exists %}
        <h2>Including:</h2>
        <ul>
            {% for alias in developer.other_aliases %}
                <li><em>{{ alias.name }}</em></li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2 class="subtitle is-4 mt-5">{{ games|length }} Game{{ games|length|pluralize }}</h2>
    {% for game in games %}
        {% include 'games/_game_row.html' with show_search_rank="True" %}
    {% endfor %}
{% endblock %}