{% extends 'games/base.html' %}

{% block content %}
    <h1 class="title">{{ developeralias }}</h1>

    <ul>
        {% for developer in developeralias.developers.all %} 
            <li>
                <a href="{% url 'developer-detail' developer.pk %}">
                    {{ developer }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year of Release</th>
                <th>Rank</th>
                <th>Developer</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td> 
                        <a href="{% url 'game-detail' game.pk %}">
                            {{ game.name }}
                        </a>
                    </td>
                    <td>{{ game.year_of_release }}</td>
                    <td>{{ game.rank }}</td>
                    <td>
                        {% for developer in game.developers.all %}
                                {{ developer.name }}
                        
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}