{% extends 'games/base.html' %}

{% load games_tags %}

{% block title %}Developers |{% endblock %}

{% block content %}
    <h1 class="title">Developers</h1>
    <h2 class="subtitle">{{ subtitle }}</h2> 
    <div class="field is-grouped is-grouped-multiline">  
        <form action="." class="control">
            <div class="control has-icons-left">
                <input class="input" type="text" name="q" placeholder="Search by name" value="{{ selected_q }}">
                <span class="icon is-small is-left">
                    <i class="mdi mdi-magnify"></i>
                  </span>
            </div>
        </form>
        {% if is_filtered %}
            <a class="button" href="{% url 'developer-list' %}">
                <span class="icon">
                    <span class="mdi mdi-close"></span>
                </span>     
                &nbsp;&nbsp;Clear
            </a>
        {% endif %}
    </div>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th># Games</th>
            </tr>
        </thead>
        <tbody>
            {% for developer in developeralias_list %}
                <tr>
                    <td>
                        <a href="{% url 'developer-alias-redirect' developer.igdb_id %}">
                            {{ developer }}
                        </a>
                    </td>
                    <td>
                        {{ developer.games_count }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if show_pagination %}
        {% pagination %}
    {% endif %}
{% endblock %}