{% extends 'games/base.html' %}

{% block content %}
    <h1 class="title">Games</h1>
    <h2 class="subtitle">{{ offset }} to {{ limit }} of {{ total }} results</h2> 

   

    <form action=".">
        <div class="select">
            <select name="year" onchange="form.submit()">
                <option selected value="">All years</option>
                {% for year in years %}
                    <option {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="select">
            <select name="decade" onchange="form.submit()">
                <option selected value="">All decades</option>
                {% for decade in decades %}
                    <option {% if decade == selected_decade %}selected{% endif %} value="{{ decade }}">{{ decade }}s</option>
                {% endfor %}
            </select>
        </div>
        <div class="select">
            <select name="developer" onchange="form.submit()">
                <option selected value="">All developers</option>
                {% for id, name in developers %}
                    <option {% if id == selected_developer %}selected{% endif %} value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        {% if is_filtered %}
            <a class="button" href="{% url 'index' %}">
                Clear
            </a>
        {% endif %}
    </form>

    <div class="block">
        {% for letter in letters %}
            <a class="button is-info {% if letter != selected_letter %} is-light{% endif %} is-small" href="?letter={{ letter }}">{{ letter }}</a>
        {% endfor %}
    </div>

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Rank</th>
                {% if is_filtered %}
                <th>All Time</th>
                {% endif %}
                <th>Name</th>
                <th>Developer</th>
                <th>Year of Release</th>
            </tr>
        </thead>
        <tbody>
            {% for game in game_list %}
                <tr>
                    <td>{{ forloop.counter0|add:offset }}</td>
                    {% if is_filtered %}
                    <td>{{ game.rank }}</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'game-detail' game.pk %}">
                            {{ game.name }}
                        </a>
                    </td>
                    <td>
                        {% if game.developer %}
                            <a href="{% url 'developer-detail' game.developer.pk %}">
                                {{ game.developer }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="?year={{ game.year_of_release }}">{{ game.year_of_release }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 
    <nav class="pagination is-centered">
        <ul class="pagination-list">
            <li>
                {% if page_obj.has_previous %}
                    <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">&laquo;&nbsp;Previous</a>
                {% endif %}
            </li>
            <li>
                {% if page_obj.has_next %}
                    <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next&nbsp;&raquo;</a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}