{% extends 'games/base.html' %}

{% load games_tags %}

{% block extrahead %}
    <style>
        .dropdown-content {
            max-height: 300px;
            overflow-y: auto;
        }
    </style>
{% endblock %}

{% block extrajs %}
<script>
    function submit(slug) {
        location.href = `/games/year/${slug}/`;
    }
</script>
{% endblock %}

{% block content %}
    <a href="{% url 'games-search' %}" class="button is-link is-pulled-right">
        Advanced Search
    </a>
    <h2 class="title">{{ title }}</h2>    

    <div class="field is-grouped mb-5">
        <div class="control">
            <a href="{% url 'games-year-list' 'alltime' %}" class="button">Alltime</a>
        </div>
        <div class="control">
            <div class="select">
                <select onchange="submit(this.value)">
                    <option value="">All decades</option>
                    {% for decade in decades %}
                        <option {% if decade == decade_slug %}selected{% endif%}>
                            {{ decade }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="control">
            <div class="select">
                <select onchange="submit(this.value)">
                    <option value="">All years</option>
                    {% for year, count in years %}
                        <option value="{{ year }}" {% if not count %}disabled{% endif %} {% if year == year_slug %}selected{% endif%}>
                            {{ year }} ({{ count }})
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% for game in game_list %}
        {% include 'games/_game_row.html' %}
    {% empty %}
        <p class="is-size-3">No results found</p>
    {% endfor %}
    {% if paginator.num_pages > 1 %}
        <div class="mt-5 is-hidden-tablet">
            {% pagination 5 %}
        </div>
        <div class="mt-5 is-hidden-mobile">
            {% pagination %}
        </div>
    {% endif %}
{% endblock %}
