{% extends 'games/base.html' %}

{% block content %}
    <h1 class="title">{{ game }}</h1>
    <div class="block">

        <dl class="detail">
            <dt>All time rank:</dt>
            <dd>{{ game.rank }}</dd>
            <dt>{{ game.year_of_release }} rank:</dt>
            <dd>{{ rank_for_year }}</dd>
            <dt>{{ decade }} rank:</dt>
            <dd>{{ rank_for_decade }}</dd>
            <dt>Developers:</dt>
            <dd>
                {% for developer in game.developers.all %}
                    <a href="{% url 'developer-alias-redirect' developer.pk %}">
                        {{ developer.name }}
                    </a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </dd>
            <dt>Platforms:</dt>
            <dd>
                {% for platform in game.platforms.all %} 
                    <a href="{% url 'platform-detail' platform.pk %}" title="{{ platform.name }}">
                        {{ platform.code }}
                    </a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </dd>
            <dt>Year of release:</dt>
            <dd>{{ game.year_of_release }}</dd>
        </dl>
        
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Publication</th>
                <th>Year</th>
                <th>List</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody>
            {% for membership in game.lists.all %}
                <tr>
                    <td>
                        {% ifchanged membership.list.publisher %}
                            {{ membership.list.publisher }}
                        {% endifchanged %}
                    </td>
                    <td>
                        {{ membership.list.year }}
                    </td>
                    <td>
                        {% if membership.list.url %}
                            <a href="{{ membership.list.url }}" target="_blank">
                                {{ membership.list }}
                            </a>
                        {% else %}
                            {{ membership.list }}
                        {% endif %}
                    </td>
                    <td>
                        {{ membership.rank }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}