{% extends 'games/base.html' %}

{% block title %}{{ game }} |{% endblock %}

{% block extrahead %} 
    <style>
        .description p {
            margin-bottom: 1em;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="title">{{ game }}</h1>
    <div class="columns">
        <div class="column">
            <dl class="detail">
                <dt>All time rank:</dt>
                <dd>
                    <a href="{% url 'games-list' %}?highlight={{ game.id }}#game-{{game.id }}">
                        {{ game.rank }}
                    </a>
                </dd>
                <dt>{{ decade }}s rank:</dt>
                <dd>
                    <a href="{% url 'games-list' %}?decade={{ decade }}&highlight={{ game.id }}#game-{{game.id }}">
                        {{ rank_for_decade }}
                    </a>
                </dd>
                <dt>{{ game.year_of_release }} rank:</dt>
                <dd>
                    <a href="{% url 'games-list' %}?year={{ game.year_of_release }}&highlight={{ game.id }}#game-{{game.id }}">
                        {{ rank_for_year }}
                    </a>
                </dd>
                <dt>Developers:</dt>
                <dd>
                    {% for developer in game.developers.all %}
                        <a href="{% url 'developer-alias-redirect' developer.igdb_id %}">
                            {{ developer.name }}
                        </a>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </dd>
                <dt>Platforms:</dt>
                <dd>
                    {% for platform in game.platforms.all %} 
                        <a href="{% url 'games-list' %}?platform={{ platform.code }}" title="{{ platform.name }}">
                            {{ platform.code }}
                        </a>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </dd>
                <dt>Year of release:</dt>
                <dd>{{ game.year_of_release }}</dd>
                <dt>Genres:</dt>
                <dd>
                    {% for genre in game.genres.all %}
                        <a href="{% url 'games-list' %}?genre={{ genre.id }}" title="{{ genre.name }}">
                            {{ genre }}
                        </a>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </dd>
                <dt>IGDB Link:</dt>
                <dd>
                    <a href="{{ game.igdb_url}}" target="_blank">{{ game.igdb_url}}</a>
                </dd>
            </dl>
        </div>
        <div class="column">
            <figure>
                <img src="{{ game.image }}">
                <figcaption class="has-text-grey-dark">from igdb.com</figcaption>
            </figure>
        </div>
    </div>

    <div class="description box">
        {{ game.description|linebreaks }}
        <small class="has-text-grey-dark">from IGDB.com</small>
    </div>

    <div class="is-hidden-mobile">
        {% for type, lists in list_groups %}
            {% if lists %}
                <h2 class="title is-5">{{ type }}</h2>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th style="width: 15em">Publication</th>
                            <th>List</th>
                            <th style="width: 5em">Year</th>
                            <th style="width: 5em">Rank</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for membership in lists %}
                            <tr data-list="{{ membership.list.id }}">
                                <td>
                                    {% ifchanged membership.list.publisher %}
                                        {{ membership.list.publisher }}
                                    {% endifchanged %}
                                </td>
                                <td>
                                    {% if membership.list.url %}
                                        <a href="{{ membership.list.url }}" target="_blank">
                                            {{ membership.list }}
                                        </a>
                                    {% else %}
                                        {{ membership.list }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ membership.list.year }}
                                </td>
                                <td>
                                    {{ membership.rank }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </div>

    <div class="is-hidden-tablet">
        {% for type, lists in list_groups %} 
            <h2 class="title is-5">{{ type }}</h2>
            {% if lists %}
                {% for membership in lists %}
                    <div class="is-mobile game-row mb-3 pb-3 {% if highlight == game.id %}is-selected{% endif %}">
                        <div class="has-text-weight-medium is-size-6">
                            {{ membership.list.publisher }}
                        </div>  
                        <div>
                            {% if membership.list.url %}
                                <a href="{{ membership.list.url }}" target="_blank">
                                    {{ membership.list }}
                                </a>
                            {% else %}
                                {{ membership.list }}
                            {% endif %}
                        </div>
                        <div class="py-0">
                            <label class="has-text-weight-medium is-size-6">Rank:</label> 
                            {{ membership.rank }}
                        </div>
                        <div class="pt-0">
                            <label class="has-text-weight-medium is-size-6">Year:</label> 
                            {{ membership.list.year }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}