{% extends 'games/base.html' %}

{% block title %} - Game - {{ game }}{% endblock %}

{% block content %}
    <h1 class="title">{{ game }}</h1>
    <div class="block">

        <dl class="detail">
            <dt>All time rank:</dt>
            <dd>
                <a href="{% url 'games-list' %}?highlight={{ game.id }}">
                    {{ game.rank }}
                </a>
            </dd>
            <dt>{{ game.year_of_release }} rank:</dt>
            <dd>
                <a href="{% url 'games-list' %}?year={{ game.year_of_release }}&highlight={{ game.id }}">
                    {{ rank_for_year }}
                </a>
            </dd>
            <dt>{{ decade }}s rank:</dt>
            <dd>
                <a href="{% url 'games-list' %}?decade={{ decade }}&highlight={{ game.id }}">
                    {{ rank_for_decade }}
                </a>
            </dd>
            <dt>Developers:</dt>
            <dd>
                {% for developer in game.developers.all %}
                    <a href="{% url 'developer-alias-redirect' developer.pk %}">
                        {{ developer.name }}
                    </a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </dd>
            <dt>Platforms:</dt>
            <dd>
                {% for platform in game.platforms.all %} 
                    <a href="{% url 'games-list' %}?platform={{ platform.code }}" title="{{ platform.name }}">
                        {{ platform.code }}
                    </a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </dd>
            <dt>Year of release:</dt>
            <dd>{{ game.year_of_release }}</dd>
        </dl>
        
    </div>

    {% for type, lists in list_groups %} 
        {% if lists %}
            <h2 class="title is-5">{{ type }}</h2>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th style="width: 15em">Publication</th>
                        <th style="width: 5em">Year</th>
                        <th>List</th>
                        <th style="width: 5em">Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for membership in lists %}
                        <tr data-list="{{ membership.list.id }}">
                            <td>
                                {% ifchanged membership.list.publisher %}
                                    {{ membership.list.publisher }}
                                {% endifchanged %}
                            </td>
                            <td>
                                {{ membership.list.year }}
                            </td>
                            <td>
                                {% if membership.list.url %}
                                    <a href="{{ membership.list.url }}" target="_blank">
                                        {{ membership.list }}
                                    </a>
                                {% else %}
                                    {{ membership.list }}
                                {% endif %}
                            </td>
                            <td>
                                {{ membership.rank }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}


    </table>
{% endblock %}