{% extends 'games/base.html' %}

{% block extrahead %} 
    <style>
        form {
            display: inline;
            margin-block: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="title">Games</h1>
    <h2 class="subtitle">{{ offset }} to {{ limit }} of {{ total }} results</h2> 

    <div class="field is-grouped">  
        <form action="." class="control" >
            <div class="select">
                <select name="year" onchange="form.submit()">
                    <option selected value="">All years</option>
                    {% for year in years %}
                        <option {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <form action="." class="control">
            <div class="select">
                <select name="decade" onchange="form.submit()">
                    <option selected value="">All decades</option>
                    {% for decade in decades %}
                        <option {% if decade == selected_decade %}selected{% endif %} value="{{ decade }}">{{ decade }}s</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <form action="." class="control">
            <div class="select">
                <select name="platform" onchange="form.submit()">
                    <option selected value="">All platforms</option>
                    {% for platform in platforms %}
                        <option {% if platform.code == selected_platform %}selected{% endif %} value="{{ platform.code }}">{{ platform }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <form action="." class="control">
            <div class="control has-icons-left">
                <input class="input" type="text" name="q" placeholder="Search by name" value="{{ selected_q }}">
                <span class="icon is-small is-left">
                    <i class="mdi mdi-magnify"></i>
                  </span>
            </div>
        </form>

        {% if is_filtered %}
            <a class="button" href="{% url 'index' %}">
                <span class="icon">
                    <span class="mdi mdi-close"></span>
                </span>     
                &nbsp;&nbsp;Clear
            </a>
        {% endif %}
    </div>

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>All Time Rank</th>
                <th>Name</th>
                <th>Developers</th>
                <th>Platforms</th>
                <th>Year of Release</th>
            </tr>
        </thead>
        <tbody>
            {% for game in game_list %}
                <tr>
                    <td>{{ game.rank }}</td>
                    <td>
                        <a href="{% url 'game-detail' game.pk %}">
                            {{ game.name }}
                        </a>
                    </td>
                    <td>
                        {% for developer in game.developers.all %}
                            <a href="{% url 'developer-alias-redirect' developer.pk %}">
                                {{ developer.name }}
                            </a>
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for platform in game.platforms.all %} 
                            {{ platform.code }}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="?year={{ game.year_of_release }}">{{ game.year_of_release }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav class="pagination is-centered">
        <ul class="pagination-list">
            <li>
                {% if page_obj.has_previous %}
                    <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">&laquo;&nbsp;Previous</a>
                {% endif %}
            </li>
            <li>
                {% if page_obj.has_next %}
                    <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next&nbsp;&raquo;</a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}