{% extends 'games/base.html' %}

{% load games_tags %}

{% block extrahead %}
    <style>
        .dropdown-content {
            max-height: 300px;
            overflow-y: auto;
        }
    </style>
{% endblock %}

{% block extrajs %}
<script>
    function submit(slug) {
        location.href = `/games/year/${slug}/`;
    }
</script>
{% endblock %}

{% block content %}
    <h2 class=title>{{ title }}</h2>    

    {% search_form %}

    <div class="field is-grouped">
        <label class="p-2">Decade</label>
        <div class="control">
            <div class="select">
                <select onchange="submit(this.value)">
                    {% for decade in decades %}
                        <option>
                            {{ decade }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <label class="p-2">Year</label>
        <div class="control">
            <div class="select">
                <select onchange="submit(this.value)">
                    {% for year, count in years %}
                        <option value="{{ year }}" {% if not count %}disabled{% endif %}>{{ year }} ({{ count }})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% for game in game_list %}
        {% include 'games/_game_row.html' %}
    {% empty %}
        <p class="is-size-3">No results found</p>
    {% endfor %}
{% endblock %}
