{% extends 'base.html' %}
{% load game_filters %}
{% load humanize %}

{% block title %}Game Search - Acclaimed Games{% endblock %}

{% block content %}
<div id="content">
    <h1 class="title" id="search-title">
        {% if page_obj.paginator.count == 0 %}
            0 Results
        {% elif page_obj %}
            Showing {{ page_obj.start_index|intcomma }} to {{ page_obj.end_index|intcomma }} of {{ page_obj.paginator.count|intcomma }} Results
        {% else %}
            Advanced Search
        {% endif %}
    </h1>

    <div class="buttons is-pulled-right">
        <a href="{% url 'games-search' %}" class="is-hidden-mobile button">
            <span class="icon">
                <span class="mdi mdi-close"></span>
            </span>
            <span>Clear filters</span>
        </a>
        <a href="{% url 'games-search' %}" class="is-hidden-tablet button">
            <span class="icon">
                <span class="mdi mdi-close"></span>
            </span>
        </a>
        <a href="{% url 'games-list' %}" class="button is-link is-pulled-right">
            <span class="icon">
                <span class="mdi mdi-form-select"></span>
            </span>
            <span>Basic Search</span>
        </a>
    </div>

    {% include 'includes/_advanced_filters.html' with filters=filters genres=genres platforms=platforms min_year=min_year max_year=max_year %}

    <div id="game-results-container">
        {% include 'games/includes/_game_search_results.html' %}
    </div>
</div>
{% endblock %}

