{% extends 'games/base.html' %}

{% load static %}
{% load games_tags %}

{% block content %}
<div class="block">
    <div class="columns">
        <div class="column py-0">
            <img src="{% static 'games/avg_logo.png' %}">
            <p class="is-size-4">
                {% snippet 'front-page' %}
            </p>
            <h3 class="title is-size-4 mt-5">Current Top 10</h3>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Game</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                        <tr>
                            <td>
                                {{ game.rank }}
                            </td>
                            <td>
                                <a href="{% url 'game-detail' game.igdb_id %}">
                                    {{ game }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'games-list' %}" class="button">See the full list&hellip;</a>
            <p class="has-text-grey-dark mt-2">
                Last update: {{ last_update | date:"dS M Y" }}
            </p>
        </div> 
        <div class="column">
            {% if posts %}
                <div class="posts">
                    <h3 class="title is-size-4 mt-5">Latest News</h3>
                    {% for post in posts %}
                        <div class="is-clearfix my-5 content box">
                            {% if post.title %}
                                <h4>{{ post.title }}</h4>
                            {% endif %}
                            {{ post.text|markdown|safe }}
                            <div class="has-text-grey-dark is-pulled-right">{{ post.date|timesince }} ago</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>  
</div>
{% endblock %}