{% extends 'games/base.html' %}

{% load games_tags %}

{% block title %}Lists |{% endblock %}

{% block extrahead %} 
    <style>
        .field.is-grouped.is-grouped-multiline .control {
            margin-bottom: 0.75rem;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="title is-size-4">Source Lists</h1>
    <div class="field is-grouped is-grouped-multiline">  
        <form action=".">
            <div class="select">
                <select name="publisher" onchange="form.submit()">
                    <option selected value="">All publishers</option>
                    {% for publisher in publishers %}
                        <option {% if publisher.id == selected_publisher %}selected{% endif %} value="{{ publisher.id }}">{{ publisher }}</option>
                    {% endfor %}
                </select>
            </div>  
            <div class="select">
                <select name="year" onchange="form.submit()">
                    <option selected value="">All years</option>
                    {% for year in years %}
                        <option {% if year == selected_year %}selected{% endif %} >{{ year }}</option>
                    {% endfor %}
                </select>
            </div>   
            <div class="select">
                <select name="type" onchange="form.submit()">
                    <option selected value="">All list types</option>
                    {% for code, label in list_types %}
                        <option {% if selected_type == code %}selected{% endif %} value="{{ code }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>   
        </form>
        {% if is_filtered %}
            <a class="button" href="{% url 'list-list' %}">
                <span class="icon">
                    <span class="mdi mdi-close"></span>
                </span>     
                &nbsp;&nbsp;Clear
            </a>
        {% endif %}
    </div>
    {% pagination %}
    <table class="table is-fullwidth mt-5 is-hidden-mobile">
        <thead>
            <tr>
                <th>Publication</th>
                <th>Year</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for list in list_list %}
                <tr data-list="{{ list.id }}">
                    <td>{{ list.publisher }}</td>
                    <td>{{ list.year }}</td>
                    <td>
                        <a target="_blank" href="{{ list.url }}">
                            {{ list }}
                        </a>
                    </td>
                    <td>{{ list.get_type_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 
    <div class="columns is-hidden-tablet">
        <div class="column is-two-thirds">
            {% for list in list_list %}
                <div class="game-row py-3">
                    <td>
                        <label class="has-text-weight-medium is-size-6">{{ list.publisher }}</label>
                    </td>
                    <div>
                        <a target="_blank" href="{{ list.url }}">
                            {{ list }}
                        </a>
                    </div>
                    <div>
                        <label class="has-text-weight-medium is-size-6">Year:</label>
                        {{ list.year }}
                    </div>
                    <div>
                        <label class="has-text-weight-medium is-size-6">Type:</label>
                        {{ list.get_type_display }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% pagination %}
{% endblock %}