{% extends 'games/base.html' %}

{% load games_tags %}

{% block title %}News |{% endblock %}

{% block content %}
    <h1 class="title is-size-4">News</h1>
    <div class="posts">
        {% for post in post_list %}
            {% include 'games/_post.html' with posts=posts %}
        {% endfor %}
    </div>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" 
                class="button is-link">&laquo;&nbsp;Newer posts</a>
        {% else %}
            <a href="{% url 'index' %}" 
                class="button is-link">&laquo;&nbsp;Return to home page</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"
                class="button is-link is-pulled-right">Older posts&nbsp;&raquo;</a>
        {% endif %}
    </div>
{% endblock %}