{% extends 'games/base.html' %}

{% load crispy_forms_tags %}
{% load games_tags %}

{% block extrahead %}   
    <style>
        #div_id_genres select {
            height: 208px;
        }
        #div_id_platforms select {
            height: 260px;
        }
    </style>
{% endblock %}

{% block content %}
    <h2 class="title">{{ title }}</h2>
    <div class="search-form pb-3 mb-3">
        {% crispy form %}
    </div>
    {% for game in game_list %}
        {% include 'games/_game_row.html' %}
    {% empty %}
        <p class="is-size-3">No results found</p>
    {% endfor %}
    {% if paginator.num_pages > 1 %}
        <div class="mt-5 is-hidden-tablet">
            {% pagination 5 %}
        </div>
        <div class="mt-5 is-hidden-mobile">
            {% pagination %}
        </div>
    {% endif %}
{% endblock %}
