{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation" x-data="{ expanded: false }">
    <div class="navbar-brand">
        <a href="{% url 'beta:home' %}" class="navbar-item has-text-weight-bold pl-0">
            <img src="{% static 'avg_logo_small.png' %}" alt="Acclaimed Games">
        </a>
        {# Search with dropdown - full search functionality will be added later with HTMX/Alpine.js #}
        <div class="navbar-item is-hidden-mobile desktop-search" x-data="{ showMenu: false, q: '' }" @click.away="showMenu = false">
            <div class="dropdown" :class="{ 'is-active': showMenu }">
                <div class="field has-addons m-0">
                    <div class="control has-icons-left">
                        <span class="icon">
                            <span class="mdi mdi-magnify"></span>
                        </span>
                        <input type="text" 
                               placeholder="Search games" 
                               class="input"
                               x-model="q"
                               @focus="showMenu = true"
                               @input="showMenu = true"
                               @keypress.enter="if(q.length >= 2) window.location.href='{% url 'beta:games-search' %}?q='+q">
                    </div>
                </div>
                <div class="dropdown-menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item" x-show="!q || q.length <= 1">
                            Please enter two or more characters
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'beta:games-list' %}" class="navbar-item beta-nav-link">
            Top 1000
        </a>
    </div>
    <div class="navbar-menu" :class="{ 'is-active': expanded }" @click="expanded = false">
        <div class="navbar-start">
            <a href="{% url 'beta:developers-list' %}" class="navbar-item beta-nav-link">Developers</a>
            <a href="{% url 'beta:list-list' %}" class="navbar-item beta-nav-link">Lists</a>
            <a href="{% url 'beta:page-detail' slug='about' %}" class="navbar-item beta-nav-link">About</a>
            <a href="{% url 'beta:page-detail' slug='donate' %}" class="navbar-item beta-nav-link">Donate</a>
            <a href="{% url 'beta:page-detail' slug='palestine' %}" class="navbar-item beta-nav-link" title="Statement on Palestine">
                <span class="icon">
                    <img src="{% static 'games/palestine-flag-xs.png' %}" alt="Palestine" style="width: 24px; height: auto;">
                </span>
            </a>
        </div>
    </div>
    <a @click="expanded = !expanded"
       class="navbar-burger is-hidden-desktop"
       :class="{ 'is-active': expanded }"
       aria-label="menu"
       :aria-expanded="expanded"
       role="button">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
</nav>

