{# GameRowProperties component - migrated from Vue #}
{# Props: game, show_rank (default: True) #}

{% if show_rank %}
<div class="py-0">
    <span class="has-text-weight-medium is-size-6">
        All time rank:
    </span>
    <span class="has-text-weight-medium is-size-6">
        {{ game.rank }}
    </span>
</div>
{% endif %}

<div class="py-0">
    <span class="has-text-weight-medium is-size-6">
        Developer{{ game.developers.all|length|pluralize }}:
    </span>
    <span class="is-size-6">
        {% for developer in game.developers.all %}
            {% if developer.developer.slug %}<a href="{% url 'beta:developer-detail' slug=developer.developer.slug %}" class="is-size-6">{{ developer.name }}</a>{% else %}<span class="is-size-6">{{ developer.name }}</span>{% endif %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span>
</div>

<div class="py-0">
    <span class="has-text-weight-medium is-size-6">
        Platform{{ game.platforms.all|length|pluralize }}:
    </span>
    <span class="is-size-6">
        {% for platform in game.platforms.all %}
            <a href="{% url 'beta:games-search' %}?platforms={{ platform.id }}">{{ platform.code }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span>
</div>

<div class="py-0">
    <span class="has-text-weight-medium is-size-6">
        Genre{{ game.genres.all|length|pluralize }}:
    </span>
    <span class="is-size-6">
        {% for genre in game.genres.all %}
            <a href="{% url 'beta:games-search' %}?genres={{ genre.id }}">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span>
</div>

