{# GameProperties component - migrated from Vue #}
{# Props: game (full game object) #}
{% load beta_filters %}

<table class="detail">
    <tr>
        <th>All time rank:</th>
        <td>
            {% game_rank_url game.rank game.id as rank_url %}
            <a href="{{ rank_url }}">{{ game.rank }}</a>
        </td>
    </tr>
    {% if game.decade_rank %}
    <tr>
        <th>{{ game.decade }}s rank:</th>
        <td>
            {% game_rank_url game.decade_rank game.id game.decade game.decade|add:9 as decade_url %}
            <a href="{{ decade_url }}">{{ game.decade_rank }}</a>
        </td>
    </tr>
    {% endif %}
    {% if game.year_rank %}
    <tr>
        <th>{{ game.year_of_release }} rank:</th>
        <td>
            {% game_rank_url game.year_rank game.id game.year_of_release game.year_of_release as year_url %}
            <a href="{{ year_url }}">{{ game.year_rank }}</a>
        </td>
    </tr>
    {% endif %}
    <tr>
        <th>Developers:</th>
        <td>
            {% for developer in game.developers.all %}
                {% if developer.developer.slug %}
                    <a href="{% url 'beta:developer-detail' slug=developer.developer.slug %}">
                        {{ developer.name }}
                    </a>{% if not forloop.last %}, {% endif %}
                {% else %}
                    <span>{{ developer.name }}</span>{% if not forloop.last %}, {% endif %}
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Platforms:</th>
        <td>
            {% for platform in game.platforms.all %}
                <a href="{% url 'beta:games-search' %}?platforms={{ platform.id }}">
                    {{ platform.code }}
                </a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Year of release:</th>
        <td>
            <a href="{% url 'beta:games-list' %}?start={{ game.year_of_release }}&end={{ game.year_of_release }}">
                {{ game.year_of_release }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Genres:</th>
        <td>
            {% for genre in game.genres.all %}
                <a href="{% url 'beta:games-search' %}?genres={{ genre.id }}">
                    {{ genre.name }}
                </a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% if game.igdb_url %}
    <tr>
        <th>IGDB Link:</th>
        <td>
            <a href="{{ game.igdb_url }}" target="_blank" class="igdb-link">
                <span class="icon">
                    <span class="mdi mdi-open-in-new"></span>
                </span>
            </a>
        </td>
    </tr>
    {% endif %}
</table>

