{% extends 'base.html' %}
{% load game_filters %}

{% block title %}News - Acclaimed Games{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto">
<h1 class="text-3xl font-bold mb-6">News</h1>
{% for post in posts %}
    {% include 'posts/includes/_post_item.html' with post=post %}
{% endfor %}

{% if page_obj %}
<div class="flex justify-between items-center mt-6">
    <div>
        {% if page_obj.has_previous %}
            {% if page_obj.number == 2 %}
                <a href="{% url 'home' %}" class="btn btn-ghost">
                    <span class="mdi mdi-chevron-double-left"></span>
                    Return to home page
                </a>
            {% else %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-ghost">
                    <span class="mdi mdi-chevron-double-left"></span>
                    Previous
                </a>
            {% endif %}
        {% endif %}
    </div>
    <div>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-ghost">
                Next
                <span class="mdi mdi-chevron-double-right"></span>
            </a>
        {% endif %}
    </div>
</div>
{% elif request.GET.offset %}
<div class="flex justify-start mt-6">
    <a href="{% url 'home' %}" class="btn btn-ghost">
        <span class="mdi mdi-chevron-double-left"></span>
        Return to home page
    </a>
</div>
{% endif %}
</div>
{% endblock %}

