{# GameRowProperties component #}
{# Props: game, show_global_rank (default False) #}

<div class="game-properties">
    {% if show_global_rank %}
    <div class="game-property">
        <span>Global Rank:</span>
        <span>{{ game.rank }}</span>
    </div>
    {% endif %}

    {% with developers=game.developers.all %}
    <div class="game-property">
        <span>Dev:</span>
        <span>{% for developer in developers %}{% if developer.developer.slug %}<a href="{% url 'developer-detail' slug=developer.developer.slug %}">{{ developer.name }}</a>{% else %}{{ developer.name }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
    </div>
    {% endwith %}

    {% with platforms=game.platforms.all %}
    <div class="game-property">
        <span>Platforms:</span>
        <span>{% for platform in platforms %}<a href="{% url 'games-search' %}?platforms={{ platform.id }}">{{ platform.code }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
    </div>
    {% endwith %}

    {% with genres=game.genres.all %}
    <div class="game-property">
        <span>Genres:</span>
        <span>{% for genre in genres %}<a href="{% url 'games-search' %}?genres={{ genre.id }}">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
    </div>
    {% endwith %}
</div>
