{# GameRowProperties component #}
{# Props: game, show_global_rank (default False) #}

<div class="game-properties">
    {% if show_global_rank %}
    <div class="game-property">
        <span>Global Rank:</span>
        <span>{{ game.rank }}</span>
    </div>
    {% endif %}

    {% with studios=game.studios.all %}
    <div class="game-property">
        <span>Dev:</span>
        <span>{% for studio in studios %}{% if studio.root_company.slug %}<a href="{% url 'developer-detail' slug=studio.root_company.slug %}#studio-{{ studio.id }}-game-{{ game.id }}">{{ studio.name }}</a>{% elif studio.company.slug %}<a href="{% url 'developer-detail' slug=studio.company.slug %}#studio-{{ studio.id }}-game-{{ game.id }}">{{ studio.name }}</a>{% else %}{{ studio.name }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
    </div>
    {% endwith %}

    {% with platforms=game.platforms.all %}
    <div class="game-property">
        <span>Platforms:</span>
        <span>{% for platform in platforms %}<a href="{% url 'games-list' %}?platforms={{ platform.id }}">{{ platform.code }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
    </div>
    {% endwith %}

    {% with genres=game.genres.all %}
    <div class="game-property">
        <span>Genres:</span>
        <span>{% for genre in genres %}<a href="{% url 'games-list' %}?genres={{ genre.id }}">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
    </div>
    {% endwith %}
</div>
