{# GameRowProperties component #}
{# Props: game, show_global_rank (default False) #}

<div class="game-properties">
    {% if show_global_rank %}
    <div class="game-property">
        <span>Global Rank:</span>
        <span>{{ game.rank }}</span>
    </div>
    {% endif %}

    {% with devs=game.developers.all %}
    <div class="game-property">
        <span>Dev:</span>
        <span>{% for dev in devs %}{% with root=dev.root_developer %}{% if root.slug %}<a href="{% url 'developer-detail' slug=root.slug %}{% if dev.id != root.id %}#developer-{{ dev.id }}-game-{{ game.id }}{% else %}#game-{{ game.id }}{% endif %}">{{ dev.name }}</a>{% elif dev.slug %}<a href="{% url 'developer-detail' slug=dev.slug %}#game-{{ game.id }}">{{ dev.name }}</a>{% else %}{{ dev.name }}{% endif %}{% endwith %}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
    </div>
    {% endwith %}

    {% with platforms=game.platforms.all %}
    <div class="game-property">
        <span>Platforms:</span>
        <span>{% for platform in platforms %}<a href="{% url 'home' %}?platforms={{ platform.id }}">{{ platform.code }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
    </div>
    {% endwith %}

    {% with genres=game.wikipedia_genres.all %}
    <div class="game-property">
        <span>Genres:</span>
        <span>{% for genre in genres %}<a href="{% url 'home' %}?genres={{ genre.id }}&highlight={{ game.id }}">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
    </div>
    {% endwith %}
</div>
