{# Single list row - shared between initial render and append #}
<tr class="list-row">
    <td class="text-base-content/80">{% if list.publisher %}{{ list.publisher.name }}{% else %}{{ list.publication|default:'' }}{% endif %}</td>
    <td>{{ list.year }}</td>
    <td>{{ list.get_type_display }}</td>
    <td class="truncate" title="{{ list.name }}">
        {% if list.url %}
        <a href="{{ list.url }}" target="_blank" class="link link-primary">
            {{ list.name }}
        </a>
        {% else %}
        <span>{{ list.name }}</span>
        {% endif %}
    </td>
</tr>
