{# SelectableTagList component #}
{# Props: filter_type (e.g., 'genres' or 'platforms') #}
{# Uses Alpine.js for interactivity - accesses parent scope's filters #}
{# Uses removeFilterItem() from utils.js to handle filter removal #}
{% load game_filters %}
<div x-show="filters.{{ filter_type }} && filters.{{ filter_type }}.length > 0"
     class="tags mt-3">
    <template x-for="(item, index) in filters.{{ filter_type }}" :key="index">
        <span class="tag is-primary">
            <span x-text="('{{ filter_type }}' === 'genres' ? genres : platforms).find(x => x.id === item)?.name || item"></span>
            <button @click="if (initialized) removeFilterItem(filters, '{{ filter_type }}', index, '{% url 'games-list' %}')"
                    title="Remove filter"
                    class="delete is-small"></button>
        </span>
    </template>
</div>

